/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "chat_app";

body {
  margin-top: 25px;
}
.col-12 {
  flex: 0 0 100%;
  background: honeydew;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid;
  border-style: ridge
}
.bg-dark {
  background-color: #2FB7EC !important;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 71.1em;
  left: -15px;
}

.text-cebter {
  margin-top: 1px;
  margin-bottom: 15px;
  margin-left: 15px;
}

