.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}
.room-nav-link {
  border: 1px solid #cce5ff;
  background: #cce5ff;

  & + .room-nav-link {
    border-top: 0 none;
  }
}

